@import "rfs/scss.scss";
@import "normalize";
@import "variables";
@import "logo";

.footer {
  &__wrap {
    padding-bottom: 26px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }

  &__top {
    display: flex;
    margin: 0px auto;
    justify-content: center;
    flex-wrap: wrap;
    width: 1291px;
    .logo {
      margin-right: 79px;
    }
    .menu {
      align-items: center;
      display: flex;
      width: 999px;
      &__list {
        margin: 0px;
        width: 100%;
        padding-bottom: 7px;

        justify-content: space-between;
      }
      &__item {
        margin: 0px;
        &.active {
          &::after {
            content: none;
          }
        }
      }
    }
  }

  &__bottom {
    margin: 43px auto 39px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    width: 1291px;
    color: $main;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .developer {
      &_accent {
        font-weight: 600;
        color: $accent;

        &:last-child {
          font-weight: 400;
        }
      }
    }

    .copyright {
    }
  }
}

@media screen and (max-width: 1400px) {
  .footer {
    &__top {
      width: auto;
      flex-wrap: wrap;
      .logo {
        margin: 0px;
      }
    }
    &__bottom {
      width: auto;
      justify-content: space-around;
    }
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    &__top {
      .logo {
        margin-bottom: 20px;
      }

      .menu__list {
        padding: 0px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .footer {
    &__top {
      .menu__list {
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
        justify-content: space-between;
        margin: 0px 20px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .footer {
    &__top {
      .menu__list {
        display: grid;
      }
    }
  }
}
