@import "rfs/scss.scss";
@import "variables";

.menu {
  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0px;
    // margin-top: 37px;
    margin-top: 17px;
    margin-left: 8px;
    margin-bottom: 0px;
  }

  &__item {
    margin-right: 66px;
    position: relative;
    &:last-child {
      margin-right: 0px;
    }

    &.active {
      .menu__link {
        color: $accent;
      }
      &::after {
        position: absolute;
        content: "";
        width: 120%;
        height: 3px;
        left: -6px;
        bottom: -15px;
        background-color: $accent;
      }
    }
  }

  &__link {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    letter-spacing: 0.02em;
    text-decoration: none;
    color: $main;
  }
}
