.more-info {
  padding: 18px 44px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: $accent;
  border: 1.5px solid #337d5a;
  text-decoration: none;
}
