$rfs-breakpoint: 1500;
@import "rfs/scss.scss";
@import "normalize";
@import "variables";

@import "header";
@import "./components/burger";
@import "footer";
@import "./components/actionButton";
@import "./components/menu";
@import "./components/moreInfoBtn";
@import "./components/breadcrumb";
@import "./components/address";
@import "./components/contacts";

.breadcrumb {
  position: relative;
  margin: 51px auto 0px 315px;

  &__link {
    color: #8a8a8a;
  }
}

@media screen and (max-width: 1500px) {
  .breadcrumb {
    margin: 36px auto 0px 5vw;
  }
}

.contacts__wrap {
  padding-top: 93px;
}

.caption {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.01em;

  color: $main;
  margin: 0px;
}
.password {
  width: 410px;
  margin-top: 40px;

  gap: 15px;
  display: grid;

  &__wrap {
    display: grid;
    justify-content: center;
    margin-top: 57px;
    text-align: center;
  }

  .continue-btn {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .password {
    width: auto;
  }
}

.restorePassword {
  &__wrap {
    width: 415px;
    margin: 57px auto 0px;

    .caption {
      margin-bottom: 21px;
    }
  }

  &__container {
    border: none;
    margin: 0px;
    padding: 0px;
    text-align: center;

    &_second {
      margin-top: 45px;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
  }

  &__icon {
    margin-right: 10px;
  }

  &__sub-title {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 178%;
    letter-spacing: 0.01em;

    color: $main;
    margin: 0px;
  }

  &__text {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 133%;
    text-align: center;
    letter-spacing: 0.01em;

    color: #8a8a8a;
    text-align: center;
    margin: 0px;
    margin-bottom: 16px;

    &_accent {
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 133%;
      letter-spacing: 0.01em;

      color: $main;
    }
  }

  .inputs {
    display: grid;
    gap: 15px;
  }

  .continue-btn {
    margin-top: 15px;
  }
}

@media screen and (max-width: 500px) {
  .restorePassword {
    &__wrap {
      width: auto;
      margin: 57px 20px 0px;
    }
  }
}
