// @import "fonts";
$rfs-breakpoint: 1500;
@import "rfs/scss.scss";
@import "normalize";
@import "variables";
// @import "logo";
// @import "socials";
// @import "phones";
@import "actionButton";
@import "menu";

@import "header";
@import "burger";
@import "productions";

@import "about";
@import "statistic";

@import "video";
@import "video-sec";

@import "benefits";
@import "banner";

@import "news";
@import "moreInfoBtn";

@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;500;600;700;800;900&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600&family=Roboto:wght@400;500;700;900&display=swap");

// font-family: 'Lato', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Roboto', sans-serif;

// $main-white: #ffffff;
// $accent: #337d5a;
// $contrast: #93b474;
// $main: #1a2f3f;
// $second: #8a8a8a;

.visibility-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  outline: 0;
  outline-offset: 0;

  pointer-events: none;
  /* visibility: hidden; */
}

body {
  background-color: $main-white;
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 53px;

  letter-spacing: 0.01em;

  color: $main;
  margin-top: 0px;
  margin-bottom: 0px;
}
